<div class="modal-content" aria-modal="true"><div class="modal-header"></div><div class="template-header"></div><div class="scroll-wrapper" style="position: relative; overflow: hidden; width: 100%; height: auto; min-height: 781px;"><div style="position: relative; overflow: scroll; margin-right: -15px; margin-bottom: -15px; min-height: 796px;"><div class="" tabindex="0"><div><style type="text/css" id="static">
    /*Font support for MAC*/
    @font-face{font-family:'Century Gothic';font-weight:normal;font-style:normal;src:local('Century Gothic'),url('/blobcontent/zty/fonts/CenturyGothic.ttf') format('truetype')}
    @font-face{font-family:'Century Gothic';font-weight:bold;font-style:normal;src:local('Century Gothic Bold'),url('/blobcontent/zty/fonts/CenturyGothicBold.ttf') format('truetype')}
    @font-face{font-family:'Century Gothic';font-weight:bold;font-style:italic;src:local('Century Gothic Bold Italic'),url('/blobcontent/zty/fonts/CenturyGothicBoldItalic.ttf') format('truetype')}
    @font-face{font-family:'Century Gothic';font-weight:normal;font-style:italic;src:local('Century Gothic Italic'),url('/blobcontent/zty/fonts/CenturyGothicItalic.ttf') format('truetype')}

    html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;vertical-align:baseline;background:transparent}
    body{text-align:left;font-feature-settings:"liga" 0;-moz-font-feature-settings:"liga" off}
    .skn-srz5 ol,.skn-srz5 ul{list-style:none}
    .skn-srz5 table{border-collapse:collapse;border-spacing:0;font-size:inherit;color:inherit;width:100%}

    /*START content disc style for LI*/
    .skn-srz5 ul,.skn-srz5 li{margin:0;padding:0;list-style-type:disc}
    .skn-srz5 ul li{margin:0 0 0 16px;padding:0}
    @-moz-document url-prefix() {.skn-srz5 ul li{margin:0 0 0 12px;padding:0 0 0 3px}}
    /*END content disc style for LI*/

    .skn-srz5 span.paddedline{display:block}
    .skn-srz5 span.jobtitle,.skn-srz5 span.degree,.skn-srz5 span.programline{font-weight:bold}
    .skn-srz5 .pb5{padding-bottom:5px}
    .skn-srz5 span.dates_wrapper{font-weight:bold;display:block;float:left;text-align:left;padding-right:10px;box-sizing:border-box}
    .skn-srz5 .txtItalics{font-style:italic}
    .skn-srz5 .txtBold{font-weight:bold}

    /*table style*/
    .skn-srz5 table.skills,.table_wrapper{width:100%;margin-top:0;word-wrap:break-word}
    .skn-srz5 table.skills th,table.skills td{width:20%;text-align:center}
    .skn-srz5 table.skills .skillname,.skn-srz5 table.skills .skillrating{text-align:left;width:35%}
    .skn-srz5 table.skills .skillrating{width:20%}
    .skn-srz5 table.skills .skillyears,.skn-srz5 table.skills .skilllast{width:19%}
    .skn-srz5 table.skills .pad1{width:5%}
    .skn-srz5 .skills .pad2,.skn-srz5 table.skills .pad3{width:1%}

    /*document*/
    .skn-srz5{box-sizing:border-box;color:#343434;font-variant-ligatures:none;line-height:16px;padding-bottom:24px;min-height:792px;position:relative;word-wrap:break-word}
    .skn-srz5 .topbgborder{bottom:-6px;height:14px;left:16px;position:absolute;width:26px}
    .skn-srz5 .nameSec{padding-top:24px!important}
    .skn-srz5 .nameSec .paragraph,.skn-srz5 .cntcSec .paragraph,.skn-srz5 .summary .paragraph{padding:0}

    .skn-srz5 .name{color:#fff;font-weight:700;text-align:left;word-wrap:break-word}
    .skn-srz5 .address{color:#fff;text-align:left;font-size:0.917em;line-height:1.25em;margin-top:0;white-space:nowrap;position:relative;z-index:2}
    .skn-srz5 .address .txtBold{margin-right:3px}
    .skn-srz5 .addressLeft,.skn-srz5 .addressRight{width:49%;padding:0 1% 0 0;white-space:normal;display:inline-block;vertical-align:top}
    .skn-srz5 .addressRight{padding:0 0 0 1%}
    .skn-srz5 .sectiontitle{word-wrap:break-word}
    .skn-srz5 .degreeGap{margin-bottom:4px}
    .skn-srz5 .locationGap{margin-top:4px}
    .skn-srz5 .firstsection,.skn-srz5 .nameSec,.skn-srz5 .cntcSec{padding-top:0!important}
    .skn-srz5 .education .joblocation{font-style:italic}
    .skn-srz5 .resumeTitle{text-align:left;color:#fff!important;z-index:2;position:relative;font-weight:400}

    /*leftBox and rightBox css*/
    .skn-srz5 .left-box .sectiontitle{text-align:left}

    /* fixes for grey border */
    .skn-srz5 .left-box .section{position:relative}

    .skn-srz5 .right-box{display:table-cell;letter-spacing:.2px;vertical-align:top;}
    .skn-srz5 .right-box .section{border-left:1px solid #d5d6d6;padding-left:23px;position:relative}
    .skn-srz5 .right-box .section:first-child{padding-top:0}
    .skn-srz5 .parentContainer .section{border-left:1px solid #d7d7d7;padding-left:24px;padding-right:24px;margin-left:12px;position:relative}
    .skn-srz5 .parentContainer .summary{padding-left:0;padding-right:0;border:none}
    .skn-srz5 .heading{clear:both;color:#373d48;font-weight:bold}

    /*topsection css*/
    .skn-srz5 .topsection{background:#373d48;display:flex;flex-wrap:wrap}
    .skn-srz5 .left-box,.skn-srz5 .right-box{display:table-cell;padding-top:24px;padding-bottom:15px}
    .skn-srz5 .left-box{box-sizing:initial;display:table-cell;position:relative;width:100%}
    .skn-srz5 .left-box{width:70%;flex-grow:1}
    .skn-srz5 .right-box{padding-left:0}
    .skn-srz5 .right-box .section{border:0;padding-left:0}
    .skn-srz5 .right-box .section .icon-heading,.skn-srz5 .right-box .section:first-child .icon-heading{height:25px;left:-8px;position:absolute;top:3px;width:25px;z-index:10}
    /*.skn-srz5 .icon1{opacity:.75}*/
    .skn-srz5 .right-box .section .icon-heading{top:23px}
    .skn-srz5 .right-box .paddedline.date-content{position:absolute;font-weight:700;margin-left:0;width:65px}
    .skn-srz5 .paragraph{position:relative;clear:both}
    .skn-srz5 .paragraph .singlecolumn{position:relative}
    .skn-srz5 .section:empty,.skn-srz5 .hide-bar .ratingRect .noLnht,.skn-srz5 .hide-bar .field-ratt{display:none}
    .skn-srz5 .right-box .education .paragraph,.skn-srz5 .right-box .experience .paragraph,.skn-srz5 .right-box .summary .paragraph{margin-left:0}
    .skn-srz5 .right-box .summary .singlecolumn{margin-left:0!important}

    /*Timeline classes*/
    .skn-srz5 .summary{border:none;margin-left:0;padding-left:0;padding-top:20px!important}
    .skn-srz5 .firstsection,.skn-srz5 .cntcSec{border:none}
    .skn-srz5 .firstsection{padding-bottom:0}
    .skn-srz5 .heading,.skn-srz5 .singlecolumn{position:relative}
    .skn-srz5 .singlecolumn:before{display:block;position:absolute;top:0;left:-30px;content:"";height:9px;width:9px;border:0;background:#373d48;z-index:2;transform:rotate(45deg)}
    .skn-srz5 .summary .singlecolumn:before{display:none}
    .skn-srz5 .section.notdraggable + .section:not(.notdraggable):before{border:3px solid #fff;content:'';position:absolute;top:0;left:-2px}
    .skn-srz5 .paragraph + tr.paragraph:before{display:none}
    .skn-srz5 .notdraggable{border:0}

    /*Icon*/
    .skn-srz5 .headingIcon{left:-45px;top:-7px;position:absolute}
    .skn-srz5 .headingIcon svg{height:40px;width:40px;position:relative}
    
    .skn-srz5 .headingIcon svg rect{transform:rotate(45deg);fill:#373d48}
    .skn-srz5 .headingIcon svg path{fill:#fff}
    .skn-srz5 .ratingRect{float:right;text-align:right}
    .skn-srz5 .ratingRect .noLnht{line-height:0}
    .skn-srz5 .ratingRect svg rect{transform:rotate(45deg)}
    .skn-srz5 .ratingfield p{display:inline}

    /*common css*/
    .skn-srz5 .txtBold{font-weight:bold}
    .skn-srz5 .txtItl{font-style:italic}
    .skn-srz5 .paddedline{display:block}
    .skn-srz5 .pt5{padding-top:5px}
    .skn-srz5 .word-break{word-wrap:break-word}
    .skn-srz5 .noPind{margin-left:0!important}

    /* Issues fix for builder page */
    #displayResume .skn-srz5.document{min-height:792px}

    /* finalize page Timeline */
    .skn-srz5 > div:not(.topsection), .skn-srz5 > div:not(.parentContainer){min-height:auto}
    .skn-srz5 .rating .default-fill{fill:#003d73}
    .skn-srz5 .sortable-item .rating-wrapper{display:block}
    /*.skn-srz5 .sortable-item .rating-wrapper > div{display:flex;position:relative;white-space:nowrap}*/

    /*PICT*/
    .skn-srz5 .prflPic,.skn-srz5 .prflPic > div{float:right;width:124px;height:124px}
    .skn-srz5 .prflPic img{min-width:100%;max-width:100%;min-height:100%;max-height:100%}
</style><style type="text/css" id="dynamic" data-time="Sun Jan 22 2023 21:05:15 GMT+0200 (Israel Standard Time)">
    .skn-srz5,.skn-srz5 table{line-height:16px}
    .skn-srz5.pagesize{width:595px}
    .skn-srz5.fontface{font-family:Century Gothic}
    .skn-srz5.fontsize{font-size:11px}
    .skn-srz5 .topsection{background:#373d48}
    .skn-srz5 .section{padding-top:20px}
    .skn-srz5 .heading{padding-bottom:10px;color:#373d48}
    .skn-srz5 .jobtitle,span.degree,span.programline{font-size:14px}
    .skn-srz5 .paragraph{padding-top:10px}
    .skn-srz5 .firstparagraph{padding-top: 10px;}
    .skn-srz5 .photo .paragraph{padding-top:0}
    .skn-srz5 .firstparagraph .singlecolumn.maincolumn,.skn-srz5 .singlecolumn.paragraphindent{margin-left:0}
    .skn-srz5 .singlecolumn,.skn-srz5 .maincolumn{margin-left:70px}
    .skn-srz5 span.dates_wrapper{width:70px;font-size:11px;line-height:17px}
    .skn-srz5 .sectiontitle,.skn-srz5 .resumeTitle{font-size:16px;line-height:21px}
    .skn-srz5 table.skills td{padding-top:5px}
    .skn-srz5 .name{font-size:36px;line-height:46px}
    .skn-srz5 .sectiontitle{font-size:16px;}
    .skn-srz5 .right-box .paragraph .singlecolumn{margin-left:{$PMAR}px}
    .skn-srz5 .right-box .paddedline.date-content{left:-{$PMAR}px}
    .skn-srz5 .rating-wrapper{margin-top:5px}
    .skn-srz5 .rating-wrapper *{font-size:11px}
    .skn-srz5 .sectiontitle,.skn-srz5 .resumeTitle{font-size:16px;line-height:21px}
    .skn-srz5 .parentContainer,.skn-srz5 .topsection{padding-left:24px;padding-right:24px}
    .skn-srz5 .parentContainer svg.rating{padding-top:{$RAPT}px}
    .skn-srz5 .address{font-size:11px;line-height:21px;padding-top:10px}
    /*Timeline*/
    .skn-srz5 .section.notdraggable + .section:not(.notdraggable):before{height:30px}
    .skn-srz5 .singlecolumn:before{background:#373d48;top:4px}
    .skn-srz5 .paragraph .dates_wrapper + .singlecolumn:before{left:-100px}
    
    /*Icon*/
    .skn-srz5 .headingIcon svg rect{fill:#373d48}
    .skn-srz5 .headingIcon{top:-8px}

</style></div><div class="document doc-root fontsize fontface vmargins hmargins   pagesize skn-srz5 SRZ5  ZTY "><div id="CONTAINER_PARENT_0" class="topsection"><div id="CONTAINER_0" class="left-box"><div data-react-beautiful-dnd-draggable="4" class="sortable-item section-container SortableItem-sibling name-contact "><div class="document-tool sec-tool" id="editIcons" style="right: -2px;"></div><div id="SECTION_NAME459e3c42-7081-4b54-baec-56f4696b86d5" class="section nameSec notdraggable SECTION_NAME firstsection   " data-section-cd="NAME"><div class=" doc-item"><div class=""><div class=""><div id="PARAGRAPH_NAME_0fb2aea3-7071-1b2b-73f3-3c52b1245d2f" class="paragraph PARAGRAPH_NAME firstparagraph  "><div>
                    <div class="name">
                        <span class="field fName" id="FIELD_FNAM">Lev</span><span dependency="FNAM+LNAM"> </span><span id="FIELD_LNAM">Roibak</span>
                    </div>
                    <div class="resumeTitle" id="FIELD_DCTL">Software Developer</div>
                </div></div></div></div></div></div><div id="SECTION_CNTC12e2a2fc-68bd-41a6-9e8e-f398aa80508a" class="section cntcSec notdraggable SECTION_CNTC    " data-section-cd="CNTC"><div class=" doc-item"><div class=""><div class=""><div id="PARAGRAPH_CNTC_c99b35ce-bcfa-6e2e-13b2-fa607da51983" class="paragraph PARAGRAPH_CNTC firstparagraph  "><div class="clearfix doc-item">
                    <div class="address">
                        <div class="addressLeft">
                            <div dependency="STRT|CITY|STAT|ZIPC|ADDR">
                                <span class="txtBold"><span class="xslt_static_change">Address </span></span><span id="FIELD_STRT"></span>
                                <span class="spaced field" id="FIELD_CITY"></span>
                                <span class="spaced field" id="FIELD_STAT"></span>
                                <span class="spaced field" id="FIELD_ZIPC"></span>
                                <span id="FIELD_ADDR">Rishon LeZion Israel</span>
                            </div>
                            <div dependency="HPHN|CPHN">
                                <span class="txtBold"><span class="xslt_static_change">Phone </span></span><span id="FIELD_HPHN" dependency="HPHN">+972505758980</span><span id="FIELD_CPHN"></span>
                            </div>
                            <div dependency="EMAI">
                                <span class="txtBold"><span class="xslt_static_change">E-mail </span></span><span id="FIELD_EMAI">lev.sd.roibak@gmail.com</span>
                            </div>
                            
                            
                                                                                        
                        </div>
                        <div class="addressRight">                                
                            
                              
                            
                        </div>
                    </div>
                </div></div></div></div></div></div><div class="doc-overlay section-overlay" style="left:-2px; right: -2px;"><span> </span></div></div></div><div id="CONTAINER_1" class="right-box"></div></div><div id="CONTAINER_PARENT_1" class="parentContainer"><div id="CONTAINER_2"><div data-react-beautiful-dnd-draggable="5" class="sortable-item section-container SortableItem-sibling  data-SUMM"><div class="document-tool sec-tool" id="editIcons" style="right: -2px;"></div><div id="SECTION_SUMMcc7f1d1d-c257-4cc0-8c39-57a07be3024c" class="section summary notdraggable SECTION_SUMM    " data-section-cd="SUMM"><div class=" doc-item"><div class=""><div class=""><div id="PARAGRAPH_SUMM_fe2309f7-6a5f-7d7c-2f42-ccb555400994" class="paragraph PARAGRAPH_SUMM firstparagraph  "><div class="clearfix doc-item">
            <div class="field singlecolumn noPind" id="FIELD_FRFM"><p>Goal-oriented Web Developer brings strong commitment to collaboration and solutions-oriented problem-solving. Use various web design packages to develop custom-crafted, customer-focused websites and designs. Committed to high standards of user experience, usability and speed over more than 2 years for multiple users. Lends detailed knowledge of SEO to increase visibility. Hardworking and passionate job seeker with strong organizational skills eager to secure entry-level Backend developer position. Ready to help team achieve company goals.</p><p>(By the way not a UI a developer as you can see :) )</p></div>
        </div></div></div></div></div></div></div><div data-react-beautiful-dnd-draggable="5" class="sortable-item section-container SortableItem-sibling  data-TPFL"><div class="document-tool sec-tool" id="editIcons" style="right: -2px;"></div><div id="SECTION_TPFL55140ae3-3ac7-507f-5562-8bc2da879dce" class="section tpfl-sec SECTION_TPFL    has-title " data-section-cd="TPFL"><div class=" doc-item"><div class="heading"><div class="headingIcon">
                        <svg viewBox="0 0 80 80">
                            <rect x="28" y="-28" height="50" width="50"></rect>
                            <path transform="scale(1.4) translate(14, 16)" d="M19.9141 7.17578C20.125 7.49219 20.5117 7.63281 20.8984 7.52734C21.3906 7.35156 21.707 7.21094 22.0938 6.89453C22.4102 6.64844 22.4805 6.19141 22.2695 5.83984L22.1992 5.66406C22.2695 5.55859 22.3398 5.41797 22.4102 5.3125H22.5859C22.9727 5.3125 23.3242 4.99609 23.4297 4.60938C23.5 4.11719 23.5 3.73047 23.4297 3.27344C23.3242 2.85156 23.0078 2.57031 22.5859 2.57031H22.4102C22.3398 2.42969 22.2695 2.32422 22.1992 2.18359L22.2695 2.04297C22.4805 1.69141 22.4102 1.23438 22.0938 0.988281C21.707 0.636719 21.3906 0.460938 20.9336 0.320312C20.5469 0.179688 20.125 0.320312 19.9141 0.671875L19.8438 0.847656C19.7031 0.8125 19.5625 0.8125 19.3867 0.847656L19.3164 0.671875C19.1055 0.320312 18.6836 0.179688 18.2969 0.320312C17.8398 0.460938 17.4883 0.671875 17.1367 0.988281C16.8203 1.23438 16.75 1.69141 16.9609 2.04297L17.0312 2.18359C16.9609 2.32422 16.8906 2.42969 16.8203 2.57031H16.5039C16.1172 2.57031 15.7656 2.85156 15.6953 3.27344C15.5898 3.76562 15.5898 4.11719 15.6602 4.60938C15.7656 4.99609 16.082 5.3125 16.5039 5.3125H16.8203C16.8906 5.41797 16.9609 5.55859 17.0312 5.66406L16.9609 5.83984C16.75 6.19141 16.8203 6.64844 17.1367 6.89453C17.5234 7.21094 17.875 7.38672 18.332 7.52734C18.7188 7.63281 19.1055 7.49219 19.3164 7.17578L19.3867 7.03516C19.5625 7.03516 19.7031 7.03516 19.8438 7.03516L19.9141 7.17578ZM20.3359 5.94531L20.0195 6.01562C19.7383 6.08594 19.4922 6.08594 19.2461 6.01562L18.8945 5.94531L18.5078 6.61328C18.2969 6.50781 18.0508 6.36719 17.875 6.22656L18.2266 5.55859L18.0156 5.3125C17.8398 5.10156 17.6992 4.89062 17.6289 4.64453L17.4883 4.32812H16.75C16.7148 4.04688 16.7148 3.80078 16.75 3.55469H17.4883L17.6289 3.23828C17.6992 2.99219 17.8398 2.74609 18.0156 2.57031L18.2266 2.28906L17.875 1.65625C18.0508 1.48047 18.2969 1.375 18.5078 1.26953L18.8945 1.90234L19.2109 1.86719C19.4922 1.79688 19.7383 1.79688 20.0195 1.86719L20.3359 1.90234L20.7227 1.26953C20.9688 1.375 21.1797 1.48047 21.3906 1.65625L21.0039 2.28906L21.2148 2.57031C21.3906 2.74609 21.5312 2.99219 21.6016 3.23828L21.7422 3.55469H22.4805C22.5156 3.80078 22.5156 4.08203 22.4805 4.32812H21.7422L21.6016 4.64453C21.5312 4.89062 21.3906 5.10156 21.2148 5.3125L21.0039 5.59375L21.3906 6.22656C21.1797 6.36719 20.9688 6.50781 20.7227 6.61328L20.3359 5.94531ZM6.09766 16.2461C6.09766 16.6328 6.37891 16.9844 6.73047 17.0547C8.03125 17.3711 9.01562 17.3711 10.3164 17.0547C10.7031 16.9844 10.9844 16.6328 10.9844 16.2461V15.1211C11.4414 14.9453 11.8633 14.6992 12.2852 14.3828L13.2344 14.9453C13.5859 15.1562 14.0078 15.0859 14.2891 14.8047C15.0977 13.9258 16.0117 12.7656 16.2578 11.6758C16.3281 11.3242 16.1523 10.9375 15.8711 10.7617L14.8867 10.1641C14.9219 9.67188 14.9219 9.14453 14.8867 8.65234L15.7656 8.125C16.082 7.91406 16.2227 7.49219 16.1172 7.14062C15.7305 5.98047 15.2383 5.06641 14.2891 4.01172C14.0078 3.73047 13.5859 3.66016 13.2344 3.87109L12.2852 4.43359C11.8633 4.11719 11.4414 3.87109 10.9844 3.69531V2.57031C10.9844 2.18359 10.7031 1.83203 10.3164 1.76172C8.94531 1.44531 7.96094 1.48047 6.76562 1.76172C6.37891 1.83203 6.09766 2.18359 6.09766 2.57031V3.69531C5.64062 3.87109 5.21875 4.11719 4.79688 4.43359L3.84766 3.87109C3.49609 3.66016 3.07422 3.73047 2.79297 4.01172C1.94922 4.96094 1.45703 5.76953 1.03516 7.14062C0.894531 7.49219 1.07031 7.91406 1.38672 8.125L2.37109 8.65234C2.30078 9.14453 2.30078 9.63672 2.37109 10.1289L1.38672 10.6914C1.07031 10.9023 0.894531 11.3242 1.03516 11.6758C1.45703 13.0469 1.94922 13.8555 2.79297 14.7695C3.07422 15.0859 3.49609 15.1562 3.84766 14.9453L4.79688 14.3828C5.21875 14.6992 5.64062 14.9453 6.09766 15.1211V16.2461ZM7.22266 16.0352V14.3477L6.83594 14.207C6.23828 13.9961 5.71094 13.6797 5.21875 13.293L4.9375 13.0117L3.46094 13.8555C2.86328 13.1875 2.44141 12.4141 2.16016 11.5703L3.60156 10.7266L3.53125 10.3398C3.42578 9.70703 3.42578 9.10938 3.53125 8.47656L3.60156 8.08984L2.16016 7.24609C2.37109 6.54297 2.96875 5.52344 3.46094 4.96094L4.9375 5.80469L5.21875 5.52344C5.71094 5.13672 6.23828 4.82031 6.83594 4.60938L7.22266 4.46875V2.78125C8.10156 2.60547 8.98047 2.60547 9.85938 2.78125V4.46875L10.2461 4.60938C10.8438 4.82031 11.3711 5.10156 11.8633 5.52344L12.1445 5.80469L13.6211 4.96094C14.2188 5.62891 14.8164 6.40234 15.0977 7.24609L13.6211 8.08984L13.7266 8.47656C13.832 9.07422 13.832 9.70703 13.7266 10.3398L13.6211 10.7266L15.0977 11.5703C14.8164 12.4141 14.2188 13.1875 13.6211 13.8555L12.1445 13.0117L11.8633 13.293C11.3711 13.6797 10.8438 13.9961 10.2461 14.207L9.85938 14.3477V16.0352C8.98047 16.2109 8.10156 16.2109 7.22266 16.0352ZM8.55859 12.3086C10.1758 12.3086 11.4766 11.0078 11.4766 9.39062C11.4766 7.80859 10.1758 6.50781 8.55859 6.50781C6.97656 6.50781 5.64062 7.80859 5.64062 9.39062C5.64062 11.0078 6.97656 12.3086 8.55859 12.3086ZM8.55859 7.63281C9.54297 7.63281 10.3516 8.40625 10.3516 9.39062C10.3516 10.4102 9.54297 11.1836 8.55859 11.1836C7.57422 11.1836 6.76562 10.4102 6.76562 9.39062C6.76562 8.40625 7.57422 7.63281 8.55859 7.63281ZM19.9141 17.8633C20.125 18.1797 20.5117 18.3555 20.8984 18.2148C21.3906 18.0742 21.707 17.8984 22.0938 17.582C22.4102 17.3359 22.4805 16.8789 22.2695 16.5273L22.1992 16.3867C22.2695 16.2461 22.3398 16.1406 22.4102 16H22.5859C22.9727 16 23.3242 15.7188 23.4297 15.332C23.5 14.8047 23.5 14.4531 23.4297 13.9609C23.3242 13.5742 23.0078 13.2578 22.5859 13.2578H22.4102C22.3398 13.1523 22.2695 13.0117 22.1992 12.9062L22.2695 12.7305C22.4805 12.3789 22.4102 11.957 22.0938 11.6758C21.707 11.3594 21.3906 11.1836 20.9336 11.0078C20.5469 10.8672 20.125 11.043 19.9141 11.3945L19.8438 11.5352C19.7031 11.5352 19.5625 11.5352 19.3867 11.5352L19.3164 11.3945C19.1055 11.043 18.6836 10.8672 18.2969 11.0078C17.8398 11.1836 17.4883 11.3594 17.1367 11.6758C16.8203 11.957 16.75 12.3789 16.9609 12.7305L17.0312 12.9062C16.9609 13.0117 16.8906 13.1523 16.8203 13.2578H16.5039C16.1172 13.2578 15.7656 13.5742 15.6953 13.9609C15.5898 14.4531 15.5898 14.8398 15.6602 15.2969C15.7656 15.7188 16.082 16 16.5039 16H16.8203C16.8906 16.1406 16.9609 16.2461 17.0312 16.3867L16.9609 16.5273C16.75 16.8789 16.8203 17.3359 17.1367 17.582C17.5234 17.9336 17.875 18.0742 18.332 18.2148C18.7188 18.3555 19.1055 18.2148 19.3164 17.8633L19.3867 17.7227C19.5625 17.7578 19.7031 17.7578 19.8438 17.7227L19.9141 17.8633ZM20.3359 16.668L20.0195 16.7031C19.7383 16.7734 19.4922 16.7734 19.2461 16.7031L18.8945 16.668L18.5078 17.3008C18.2969 17.1953 18.0508 17.0898 17.875 16.9141L18.2266 16.2812L18.0156 16C17.8398 15.8242 17.6992 15.5781 17.6289 15.332L17.4883 15.0156H16.75C16.7148 14.7695 16.7148 14.5234 16.75 14.2422H17.4883L17.6289 13.9258C17.6992 13.6797 17.8398 13.4688 18.0156 13.2578L18.2266 13.0117L17.875 12.3438C18.0508 12.2031 18.2969 12.0625 18.5078 11.957L18.8945 12.625L19.2461 12.5547C19.4922 12.5195 19.7383 12.5195 20.0195 12.5547L20.3359 12.625L20.7227 11.957C20.9688 12.0625 21.1797 12.2031 21.3906 12.3438L21.0039 13.0117L21.2148 13.2578C21.3906 13.4688 21.5312 13.6797 21.6016 13.9258L21.7422 14.2422H22.4805C22.5156 14.5234 22.5156 14.7695 22.4805 15.0156H21.7422L21.6016 15.332C21.5312 15.5781 21.3906 15.8242 21.2148 16L21.0039 16.2812L21.3906 16.9141C21.1797 17.0898 20.9688 17.1953 20.7227 17.3008L20.3359 16.668ZM20.6875 14.5938C20.6875 13.9961 20.1602 13.4688 19.5625 13.4688C18.9297 13.4688 18.4375 13.9961 18.4375 14.5938C18.4375 15.2266 18.9297 15.7188 19.5625 15.7188C20.1602 15.7188 20.6875 15.2266 20.6875 14.5938ZM20.6875 3.90625C20.6875 3.27344 20.1602 2.78125 19.5625 2.78125C18.9297 2.78125 18.4375 3.27344 18.4375 3.90625C18.4375 4.53906 18.9297 5.03125 19.5625 5.03125C20.1602 5.03125 20.6875 4.53906 20.6875 3.90625Z" fill="white"></path>
                        </svg>
                    </div><div class="sectiontitle" id="SECTIONNAME_TPFL">Technical Profile<span title=" Technical Profile " class="rename-section text-rename"></span></div></div><div class=""><div class=""><div id="PARAGRAPH_TPFL_a0e8d6b9-d886-db44-59a6-32a205ca3a23" class="paragraph PARAGRAPH_TPFL firstparagraph  "><div class="clearfix doc-item">
                    <div class="singlecolumn maincolumn noPind">
                     <span id="FIELD_SKC1"><ul>
<li>Python</li>
<li>SQL</li>
<li>HTML</li>
<li>Node.js</li>
<li>Bash</li>
<li>Shell</li>
<li>OpenShift</li>
<li>YAML</li>
<li>MongoDB</li>
<li>PostgreSQL</li>
<li>HTTP</li>
<li>Flask</li>
<li>GraphQL</li>
<li>ExpressJS</li>
<li>SSH</li>
<li>S3</li>
</ul></span>
                     <span id="FIELD_SKC2"><ul>
<li>Visual Studio Code</li>
<li>NPM</li>
<li>Amazon S3</li>
<li>Vim</li>
<li>Linux</li>
<li>Git</li>
<li>Docker</li>
<li>Express</li>
<li>JSON</li>
<li>NumPy</li>
<li>GitLab</li>
<li>Ubuntu</li>
<li>Shell script</li>
<li>CentOS</li>
<li>Red Hat Enterprise Linux</li>
</ul></span>
                </div>
                </div></div></div></div></div></div></div><div data-react-beautiful-dnd-draggable="5" class="sortable-item section-container SortableItem-sibling  data-HILT"><div class="document-tool sec-tool" id="editIcons" style="right: -2px;"></div><div id="SECTION_HILT96b3fd24-d2ab-42a3-bf49-626a1468ef5e" class="section SECTION_HILT    has-title " data-section-cd="HILT"><div class=" doc-item"><div class="heading"><div class="headingIcon">
                <svg viewBox="0 0 80 80">
                    <rect x="28" y="-28" height="50" width="50"></rect>
                    <path transform="translate(23,19)" d="M31.36 14.293l-3.413-3.413c2.133-.64 3.84-2.773 3.84-5.333C31.787 2.56 29.227 0 26.24 0c-2.347 0-4.48 1.707-5.333 3.84l-3.2-3.2c-.854-.853-2.56-.853-3.414 0L9.6 5.333c-.213.427-.213.854-.213 1.28.213.427.64.64 1.066.427h.64c2.134 0 3.84 1.707 3.84 4.053 0 2.134-1.493 4.054-3.84 4.054-2.133 0-4.053-1.92-4.053-4.054v-.64a1.63 1.63 0 0 0-.427-1.066c-.213-.427-.64-.427-.853 0L.64 14.293c-.853.854-.853 2.347 0 3.414L14.293 31.36c.427.427 1.067.64 1.707.64.64 0 1.28-.213 1.707-.64L31.36 17.707c.853-.854.853-2.56 0-3.414zm-1.493 1.92L16.213 29.867c-.213.213-.426.213-.64 0L2.133 16.213c-.213 0-.213-.426 0-.426l3.414-3.414a5.953 5.953 0 0 0 5.76 4.48c3.2 0 5.76-2.56 5.76-5.973 0-2.773-1.707-5.12-4.267-5.76l2.987-2.987c.213-.213.426-.213.64 0l4.906 4.907c.214.213.854.427 1.067.213.427-.213.64-.64.64-1.066v-.214-.213c0-1.92 1.493-3.413 3.413-3.413 1.92 0 3.414 1.493 3.414 3.413 0 1.92-1.494 3.413-3.414 3.413h-.426c-.427 0-.854.214-1.067.64-.213.427-.213.854.213 1.067l4.694 4.907c.213 0 .213.426 0 .426z"></path>
                </svg>
            </div><div class="sectiontitle" id="SECTIONNAME_HILT">Competencies<span title=" Competencies " class="rename-section text-rename"></span></div></div><div class=""><div class="sortableInner"><div id="PARAGRAPH_HILT_74c74217-5e91-6a9d-fb4c-4560bd29ccca" class="paragraph PARAGRAPH_HILT firstparagraph  "><div class="clearfix doc-item">
            <div class="singlecolumn maincolumn noPind">
                <span class="ratingfield" id="FIELD_SKC1"><p>Web development projects</p></span>
                
            </div>
        </div></div><div id="PARAGRAPH_HILT_a0d244cf-eb13-c8bf-b658-da960b0e4136" class="paragraph PARAGRAPH_HILT  "><div class="clearfix doc-item">
            <div class="singlecolumn maincolumn noPind">
                <span class="ratingfield" id="FIELD_SKC1"><p>Programming</p></span>
                
            </div>
        </div></div><div id="PARAGRAPH_HILT_b1f8c0a3-53bc-b752-4da1-37a3e862c003" class="paragraph PARAGRAPH_HILT  "><div class="clearfix doc-item">
            <div class="singlecolumn maincolumn noPind">
                <span class="ratingfield" id="FIELD_SKC1"><p>Agile Workflow</p></span>
                
            </div>
        </div></div><div id="PARAGRAPH_HILT_45e3315d-6cc4-ab11-189a-ce008e13cd81" class="paragraph PARAGRAPH_HILT  "><div class="clearfix doc-item">
            <div class="singlecolumn maincolumn noPind">
                <span class="ratingfield" id="FIELD_SKC1"><p>Interpersonal Communication</p></span>
                
            </div>
        </div></div><div id="PARAGRAPH_HILT_0491f7af-ddc4-0390-40a3-0fa8e8ba091f" class="paragraph PARAGRAPH_HILT  "><div class="clearfix doc-item">
            <div class="singlecolumn maincolumn noPind">
                <span class="ratingfield" id="FIELD_SKC1"><p>Self-Motivated</p></span>
                
            </div>
        </div></div></div></div></div></div></div><div data-react-beautiful-dnd-draggable="5" class="sortable-item section-container SortableItem-sibling  data-EXPR"><div class="document-tool sec-tool" id="editIcons" style="right: -2px;"></div><div id="SECTION_EXPR0b0bd7f9-4a25-4b09-8677-ee766493b2f1" class="section SECTION_EXPR   multi-para has-title " data-section-cd="EXPR"><div class=" doc-item"><div class="heading"><div class="headingIcon">
                <svg viewBox="0 0 80 80">
                    <rect x="28" y="-28" height="50" width="50"></rect>
                    <path transform="translate(23,19)" d="M30 5.983h-7.987V4.045c0-1.655-1.345-3-3-3h-6.015c-1.655 0-3 1.345-3 3v1.938H2.001C.9 5.983 0 6.883 0 7.982V28.953c0 1.1.9 2.001 2 2.001h28c1.099 0 2-.9 2-2V7.981a2.008 2.008 0 0 0-2-1.999zM12 4.045c0-.551.447-1 1-1h6.011c.55 0 1 .447 1 1v1.938H12V4.045zM2 7.982h28v7.008H18.986v-1.025c0-1.101-.897-2-1.998-2h-1.993c-1.101 0-2 .897-2 2v1.025H2V7.982zm14.989 11.02h-1.993v-5.037h1.993v5.037zM2 28.951V16.988h10.997V19c0 1.102.897 2 2 2h1.99a2.002 2.002 0 0 0 2-2v-2.01h11.011v11.963H2.001z"></path>
                </svg>
            </div><div class="sectiontitle" id="SECTIONNAME_EXPR">Work History<span title=" Work History " class="rename-section text-rename"></span></div></div><div class=""><div class="sortableInner"><div id="PARAGRAPH_EXPR_e03e7f96-2790-c61e-debe-277a0c8b5e8e" class="paragraph PARAGRAPH_EXPR firstparagraph  "><div class="clearfix doc-item">
            <span class="dates_wrapper">
                <span class="jobdates" id="FIELD_JSTD" format="%b %Y">Jun 2022</span>
                <span dependency="JSTD+EDDT"> - </span>
                <span class="jobdates" id="FIELD_EDDT" format="%b %Y">Current</span>
            </span>
            <div class="singlecolumn">
                <span class="paddedline pb5" dependency="JTIT">
                    <span class="jobtitle" id="FIELD_JTIT">Backend Developer</span>
                </span>
                <span class="paddedline txtItalics pb5" dependency="COMP|JSTA|JCIT">
                    <span class="companyname" id="FIELD_COMP">IDF</span><span dependency="COMP+JCIT|JSTA">, </span>
                    <span class="joblocation jobcity" id="FIELD_JCIT">Rishon LeZion</span>
                    <span class="joblocation jobstate" id="FIELD_JSTA"></span>
                </span>
                <span class="paddedline">
                    <span class="jobline" id="FIELD_JDES"><ul>
<li>Troubleshot and tested software and debugged to clean up code and improve efficiency.</li>
<li>Worked in Agile Scrum team environment with high-tempo production cadence.</li>
<li>Developed web platform back ends using NodeJS and Flask frameworks.</li>
<li>Integrated third-party APIs from external applications into web platforms.</li>
<li>Designed client-side and server-side architecture and implemented cloud-based back end solutions.</li>
<li>Developed server-side logic in Python and JavaScript.</li>
<li>Managed efficient SQL queries and data transport.</li>
<li>Collaborated with multidisciplinary team of designers, developers and system administrators.</li>
<li>Built flexible, reusable code and libraries for future use.</li>
</ul></span>
                </span>
            </div>
        </div></div><div id="PARAGRAPH_EXPR_3ebb05eb-62df-dc2b-8f4b-67592d385024" class="paragraph PARAGRAPH_EXPR  "><div class="clearfix doc-item">
            <span class="dates_wrapper">
                <span class="jobdates" id="FIELD_JSTD" format="%b %Y">Jun 2021</span>
                <span dependency="JSTD+EDDT"> - </span>
                <span class="jobdates" id="FIELD_EDDT" format="%b %Y">Mar 2022</span>
            </span>
            <div class="singlecolumn">
                <span class="paddedline pb5" dependency="JTIT">
                    <span class="jobtitle" id="FIELD_JTIT">DevOps Engineer</span>
                </span>
                <span class="paddedline txtItalics pb5" dependency="COMP|JSTA|JCIT">
                    <span class="companyname" id="FIELD_COMP">IDF</span><span dependency="COMP+JCIT|JSTA">, </span>
                    <span class="joblocation jobcity" id="FIELD_JCIT">Rishon LeZion</span>
                    <span class="joblocation jobstate" id="FIELD_JSTA"></span>
                </span>
                <span class="paddedline">
                    <span class="jobline" id="FIELD_JDES"><ul>
<li>Monitored automated build and continuous software integration process to drive build/release failure resolution.</li>
<li>Worked with cross-functional design teams to create software solutions that improved overall functionality and performance.</li>
<li>Researched and identified new technologies to use in agile development environment.</li>
<li>Collaborated with team to determine application requirement specifications.</li>
<li>Drove project lifespan from concept to final rollout in development and deployment.</li>
<li>Worked with software development and testing team members to design and develop robust solutions to meet client requirements for functionality, scalability and performance.</li>
<li>Collaborated closely with product development teams and other stakeholders.</li>
<li>Wrote code and supported architecture in high-throughput systems.</li>
<li>Documented project design for reference and future use cases.</li>
<li>Built automation tools and applications to deploy next-generation platforms.</li>
<li>Wrote code and developed tools and integrations to meet cross-platform user needs.</li>
</ul></span>
                </span>
            </div>
        </div></div></div></div></div></div></div>
                <span class="paddedline">
                    <span id="FIELD_FRFM"></span>
                </span>
            </div>
        </div></div></div></div></div></div></div></div></div></div><div></div></div></div></div>